.news {
	background-color: #f8f5f2;
	color: #000;
}

.news__triangle:after{
	content: '';
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-right: 160px solid transparent;
	border-left: 160px solid transparent;
	border-top: 40px solid @bg-darkgrey;
}

.news__wrapper {
	.container();

	padding-top: 32px;
	padding-bottom: 28px;
}

.news__items {
	margin: 0;
	padding: 0;
	padding-bottom: 7px;

	list-style: none;
}

.news__item {
	margin: 0 20px;
	margin-bottom: 16px;
	padding-bottom: 18px;
	padding-left: 70px;
}

.news__item:nth-child(n+3) {
	display: none;
}

.news__item:nth-child(2) {
	padding-bottom: 0;
}

@media @tablet-widths {
	
	.news {
		padding-top: 90px;
		padding-bottom: 28px;
	}

	.news__triangle:after{
		content: '';
		display: block;
		margin: 0 auto;
		margin-top: -90px;
		width: 0; 
		height: 0;
		border-right: 370px solid transparent;
		border-left: 370px solid transparent;
		border-top: 40px solid @bg-darkgrey;
	}

	.news__wrapper {
		padding: 0;
	}

	.news__title {
		min-height: 40px;
		margin-right: 200px;
		margin-bottom: 55px;
	}

	.news__item {
		font-size: 0;
	}

	.news__item {
		display: inline-block;
		width: 220px;
		margin: 0;
		padding: 0 30px;
		padding-left: 70px;

		vertical-align: top;
	}
}

@media @desktop-widths {
	
	.news {
		padding-top: 88px;
		padding-bottom: 32px;
	}

	.news__triangle:after{
		border-right: 580px solid transparent;
		border-left: 580px solid transparent;
		border-top: 40px solid @bg-darkgrey;
	}

	.news__title {
		margin-left: 70px;
	}

	.news__item:nth-child(n+3) {
		display: inline-block;
	}
}